@model IEnumerable<MayFifthPracticeOne.Models.ParticipationOfferings>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClubMember.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FitnessOffering.GroupTraining)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClubMember.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FitnessOffering.GroupTraining)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ParticpationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ParticpationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ParticpationID })
        </td>
    </tr>
}

</table>
